footer{
  background-color: var(--cffy-theme-surface-a10);
  color: var(--cffy-theme-primary-a40);

  #copyright{
    color: var(--cffy-theme-primary-a40);
  }
}

.derecho{
  border-top: 1px solid var(--cffy-theme-primary-a10);
}
