<router-outlet>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img ngSrc="/logo_ludus.png" alt="logo tienda ludus arcanus" width="50" height="30"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="width: 10%">
        <span><i class="bi bi-three-dots-vertical icono"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
          </li>

          @if (user && role === 'admin') {

            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard" tabindex="-1">Bienvenido {{ user }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" role="button" tabindex="-1" (click)="logout()">Cerrar Sesión</a>
            </li>

          } @else if (user && role ==='usuario') {

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorías
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/juegos/mesa">Juegos de Mesa</a></li>
                <li><a class="dropdown-item" routerLink="/juegos/cartas">Juegos de Cartas</a></li>
                <li><a class="dropdown-item" routerLink="/juegos/rol">Juegos de Rol</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/ofertas">Ofertas</a></li>
              </ul>
            </li>

            @if (carro_compra.length > 0) {
              <li class="nav-item">
                <a class="nav-link position-relative" routerLink="/carro-compras" tabindex="-1" id="carrito_compras">
                  <i class="bi bi-cart4"></i>
                </a>
              </li>
            }
              <li class="nav-item">
                <a class="nav-link" routerLink="/user-profile/{{user}}" tabindex="-1">Bienvenido {{ user }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" role="button" tabindex="-1" (click)="logout()">Cerrar Sesión</a>
              </li>
          }

          @if (!user){
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorías
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/juegos/mesa">Juegos de Mesa</a></li>
                <li><a class="dropdown-item" routerLink="/juegos/cartas">Juegos de Cartas</a></li>
                <li><a class="dropdown-item" routerLink="/juegos/rol">Juegos de Rol</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="/ofertas">Ofertas</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/sign-in" tabindex="-1">Iniciar Sesión</a>
            </li>
          }
        </ul>
      </div>
    </div>
  </nav>

</router-outlet>
