<router-outlet>
  <app-navbar></app-navbar>
  <br>
  <div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="p-4" id="sign_in" style="width: 100%; max-width: 450px; height: 550px">
      <br>
      <h2 class="text-center mb-4 p-2">Iniciar Sesión</h2>
      <br>
      <div class="mt-4">
        <form id="login_form" class="needs-validation row g-3" novalidate>
          <div class="col-md-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" placeholder="Username" name="username" >
              <label for="username" class="form-label">Username</label>
              <div class="invalid-feedback" id="feedback_username"></div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" >
              <label for="password" class="form-label">Contraseña</label>
              <div class="invalid-feedback" id="feedback_password"></div>
            </div>
          </div>

          <div class="mb-3 mt-3" id="forgot_password">
            <a routerLink="" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
            <p>No estas registrado. <a routerLink="/sign-up">Registrate aquí</a></p>
          </div>
          <div class="mb-3 mt-3 d-flex justify-content-center">
            <button class="pt-2 pb-2" type="submit" (click)="userLogin()">Iniciar Sesión</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
  <app-footer></app-footer>
</router-outlet>
